<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837213829319-1kuh9v81f3q3thg6e1qpahujmsmqlrrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837213829319-1kuh9v81f3q3thg6e1qpahujmsmqlrrq</string>
	<key>API_KEY</key>
	<string>AIzaSyDRXCbmNbH1a7r1meWUVkZR25w67Hp_W7c</string>
	<key>GCM_SENDER_ID</key>
	<string>837213829319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MKM.NYCoworker</string>
	<key>PROJECT_ID</key>
	<string>nycoworker-10d04</string>
	<key>STORAGE_BUCKET</key>
	<string>nycoworker-10d04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837213829319:ios:98dd75ffcc71991c2e26e2</string>
	<key>DATABASE_URL</key>
	<string>https://nycoworker-10d04-default-rtdb.firebaseio.com</string>
</dict>
</plist>